<a href="https://colab.research.google.com/github/RileyHutch/deep-learning-challenge/blob/main/Optimized_Starter_Code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

# Import pandas and read the charity_data.csv from the provided cloud URL.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

# **Preprocess the data based off work done in Starter_Code.ipynb**

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns = ['EIN', 'NAME'])
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at ASK_AMT value counts to identify and replace with "Other"
amt_counts = application_df['ASK_AMT'].value_counts()

In [5]:
# Try to find a good cutoff value for ASK_AMT
filtered_amt_counts = amt_counts[amt_counts > 1]
filtered_amt_counts

ASK_AMT
5000      25398
10478         3
15583         3
63981         3
6725          3
          ...
100000        2
8181          2
24746         2
45793         2
240780        2
Name: count, Length: 152, dtype: int64

In [6]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
ASK_AMT_to_replace = list(amt_counts[amt_counts < 3].index)

# Replace in dataframe
for unit in ASK_AMT_to_replace:
    application_df['ASK_AMT'] = application_df['ASK_AMT'].replace(unit,"Other")

# Check to make sure replacement was successful
application_df['ASK_AMT'].value_counts()

ASK_AMT
5000     25398
Other     8889
15583        3
6725         3
10478        3
63981        3
Name: count, dtype: int64

In [7]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [8]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"

# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = ['T9', 'T13', 'T12', 'T2', 'T25', 'T14', 'T29', 'T15', 'T17']

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [9]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
counts = application_df['CLASSIFICATION'].value_counts()
counts

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [10]:
# You may find it helpful to look at CLASSIFICATION value counts >1
filtered_counts = counts[counts > 1]
filtered_counts

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [11]:
# Choose a cutoff value and create a list of classifications to be replaced

# use the variable name `classifications_to_replace`
classifications_to_replace = list(counts[counts < 1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [12]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df)
application_df.head()

,STATUS,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,...,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,ASK_AMT_5000,ASK_AMT_6725,ASK_AMT_10478,ASK_AMT_15583,ASK_AMT_63981,ASK_AMT_Other
0,1,1,False,True,False,False,False,False,False,False,...,False,False,True,False,True,False,False,False,False,False
1,1,1,False,False,False,True,False,False,False,False,...,False,False,True,False,False,False,False,False,False,True
2,1,0,False,False,False,False,False,True,False,False,...,False,False,True,False,True,False,False,False,False,False
3,1,1,False,False,False,True,False,False,False,False,...,False,False,True,False,False,False,False,False,False,True
4,1,1,False,False,False,True,False,False,False,False,...,False,False,True,False,False,False,False,False,False,True

In [13]:
# Split our preprocessed data into our features and target arrays
y=application_df['IS_SUCCESSFUL']
X=application_df.drop(columns='IS_SUCCESSFUL')

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [14]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

# **Compile, Train and Evaluate the Model**

In [19]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.

nn = tf.keras.models.Sequential()

# First hidden layer   relu is commonly used in deep networks
nn.add(tf.keras.layers.Dense(units=80, activation="relu", input_dim=48))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=70, activation="relu"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=40, activation="selu"))

# Fourth hidden layer
nn.add(tf.keras.layers.Dense(units=10, activation="elu"))

# Output layer          output needs to be sigmoid becasue we are trying to classify as yes/no
nn.add(tf.keras.layers.Dense(units=1, activation="linear"))

# Check the structure of the model
nn.summary()

/usr/local/lib/python3.11/dist-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential_1"

 Layer (type)                          Output Shape                         Param #

 dense_5 (Dense)                       (None, 80)                             3,920

 dense_6 (Dense)                       (None, 70)                             5,670

 dense_7 (Dense)                       (None, 40)                             2,840

 dense_8 (Dense)                       (None, 10)                               410

 dense_9 (Dense)                       (None, 1)                                 11

 Total params: 12,851 (50.20 KB)

 Trainable params: 12,851 (50.20 KB)

 Non-trainable params: 0 (0.00 B)

In [20]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [21]:
print(X_train_scaled.shape)

(25724, 48)

In [22]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=120)

Epoch 1/120
804/804  4s 2ms/step - accuracy: 0.6654 - loss: 1.3435
Epoch 2/120
804/804  2s 2ms/step - accuracy: 0.7165 - loss: 0.6009
Epoch 3/120
804/804  2s 3ms/step - accuracy: 0.7262 - loss: 0.5726
Epoch 4/120
804/804  2s 2ms/step - accuracy: 0.7233 - loss: 0.5734
Epoch 5/120
804/804  3s 2ms/step - accuracy: 0.7302 - loss: 0.5626
Epoch 6/120
804/804  3s 2ms/step - accuracy: 0.7296 - loss: 0.5640
Epoch 7/120
804/804  2s 2ms/step - accuracy: 0.7274 - loss: 0.5633
Epoch 8/120
804/804  3s 2ms/step - accuracy: 0.7258 - loss: 0.5720
Epoch 9/120
804/804  2s 2ms/step - accuracy: 0.7317 - loss: 0.5659
Epoch 10/120
804/804  2s 2ms/step - accuracy: 0.7321 - loss: 0.5559
Epoch 11/120
804/804  3s 2ms/step - accuracy: 0.7333 - loss: 0.5523
Epoch 12/120
804/804  2s 2ms/step - accuracy: 0.7258 - loss: 0.5640
Epoch 13/120
804/804  3s 3ms/step - accuracy: 0.7301 - loss: 0.5520
Epoch 14/120
804/804  2s 2ms/step - accuracy: 0.7343 - loss: 0.5544
Epoch 15/120
804/804  2s 2ms/step - accuracy: 0.7353 - loss: 0.5554
Epoch 16/120
804/804  3s 2ms/step - accuracy: 0.7265 - loss: 0.5599
Epoch 17/120
804/804  3s 2ms/step - accuracy: 0.7192 - loss: 0.5943
Epoch 18/120
804/804  2s 2ms/step - accuracy: 0.7287 - loss: 0.5670
Epoch 19/120
804/804  3s 2ms/step - accuracy: 0.7318 - loss: 0.5770
Epoch 20/120
804/804  2s 2ms/step - accuracy: 0.7252 - loss: 0.5737
Epoch 21/120
804/804  3s 2ms/step - accuracy: 0.7284 - loss: 0.5835
Epoch 22/120
804/804  3s 2ms/step - accuracy: 0.7230 - loss: 0.5677
Epoch 23/120
804/804  2s 2ms/step - accuracy: 0.7102 - loss: 0.5710
Epoch 24/120
804/804  2s 3ms/step - accuracy: 0.7338 - loss: 0.5480
Epoch 25/120
804/804  2s 2ms/step - accuracy: 0.7341 - loss: 0.5509
Epoch 26/120
804/804  2s 2ms/step - accuracy: 0.7334 - loss: 0.5503
Epoch 27/120
804/804  3s 2ms/step - accuracy: 0.7318 - loss: 0.5562
Epoch 28/120
804/804  3s 2ms/step - accuracy: 0.7319 - loss: 0.5478
Epoch 29/120
804/804  2s 2ms/step - accuracy: 0.7358 - loss: 0.5480
Epoch 30/120
804/804  3s 3ms/step - accuracy: 0.7400 - loss: 0.5472
Epoch 31/120
804/804  2s 2ms/step - accuracy: 0.7318 - loss: 0.5783
Epoch 32/120
804/804  2s 2ms/step - accuracy: 0.7351 - loss: 0.5436
Epoch 33/120
804/804  2s 2ms/step - accuracy: 0.7377 - loss: 0.5475
Epoch 34/120
804/804  2s 2ms/step - accuracy: 0.7340 - loss: 0.5505
Epoch 35/120
804/804  2s 2ms/step - accuracy: 0.7335 - loss: 0.5881
Epoch 36/120
804/804  3s 2ms/step - accuracy: 0.7279 - loss: 0.5603
Epoch 37/120
804/804  2s 2ms/step - accuracy: 0.7373 - loss: 0.5568
Epoch 38/120
804/804  3s 2ms/step - accuracy: 0.7356 - loss: 0.5553
Epoch 39/120
804/804  2s 2ms/step - accuracy: 0.7347 - loss: 0.5653
Epoch 40/120
804/804  3s 3ms/step - accuracy: 0.7396 - loss: 0.6533
Epoch 41/120
804/804  2s 2ms/step - accuracy: 0.7377 - loss: 0.5463
Epoch 42/120
804/804  2s 2ms/step - accuracy: 0.7298 - loss: 0.5781
Epoch 43/120
804/804  3s 2ms/step - accuracy: 0.7258 - loss: 0.7006
Epoch 44/120
804/804  2s 2ms/step - accuracy: 0.7386 - loss: 0.5572
Epoch 45/120
804/804  3s 3ms/step - accuracy: 0.7410 - loss: 0.5471
Epoch 46/120
804/804  2s 3ms/step - accuracy: 0.7395 - loss: 0.5647
Epoch 47/120
804/804  2s 2ms/step - accuracy: 0.7405 - loss: 0.5482
Epoch 48/120
804/804  2s 2ms/step - accuracy: 0.7395 - loss: 0.5489
Epoch 49/120
804/804  3s 2ms/step - accuracy: 0.7410 - loss: 0.5426
Epoch 50/120
804/804  2s 2ms/step - accuracy: 0.7388 - loss: 0.5495
Epoch 51/120
804/804  3s 3ms/step - accuracy: 0.7303 - loss: 0.5609
Epoch 52/120
804/804  2s 3ms/step - accuracy: 0.7308 - loss: 0.5740
Epoch 53/120
804/804  2s 2ms/step - accuracy: 0.7387 - loss: 0.5540
Epoch 54/120
804/804  3s 2ms/step - accuracy: 0.7377 - loss: 0.5663
Epoch 55/120
804/804  2s 2ms/step - accuracy: 0.7346 - loss: 0.5700
Epoch 56/120
804/804  3s 2ms/step - accuracy: 0.7398 - loss: 0.5563
Epoch 57/120
804/804  3s 3ms/step - accuracy: 0.7332 - loss: 0.5582
Epoch 58/120
804/804  2s 2ms/step - accuracy: 0.7386 - loss: 0.5540
Epoch 59/120
804/804  3s 2ms/step - accuracy: 0.7367 - loss: 0.5678
Epoch 60/120
804/804  3s 2ms/step - accuracy: 0.7283 - loss: 0.5885
Epoch 61/120
804/804  2s 2ms/step - accuracy: 0.7370 - loss: 0.6060
Epoch 62/120
804/804  2s 2ms/step - accuracy: 0.7407 - loss: 0.6108
Epoch 63/120
804/804  3s 2ms/step - accuracy: 0.7421 - loss: 0.6007
Epoch 64/120
804/804  2s 2ms/step - accuracy: 0.7369 - loss: 0.6025
Epoch 65/120
804/804  2s 2ms/step - accuracy: 0.7378 - loss: 0.6104
Epoch 66/120
804/804  3s 2ms/step - accuracy: 0.7385 - loss: 0.5948
Epoch 67/120
804/804  2s 2ms/step - accuracy: 0.7425 - loss: 0.5911
Epoch 68/120
804/804  3s 3ms/step - accuracy: 0.7335 - loss: 0.5928
Epoch 69/120
804/804  2s 2ms/step - accuracy: 0.7441 - loss: 0.5597
Epoch 70/120
804/804  2s 2ms/step - accuracy: 0.7381 - loss: 0.5527
Epoch 71/120
804/804  2s 2ms/step - accuracy: 0.7345 - loss: 0.5514
Epoch 72/120
804/804  2s 2ms/step - accuracy: 0.7363 - loss: 0.5596
Epoch 73/120
804/804  2s 2ms/step - accuracy: 0.7180 - loss: 0.5839
Epoch 74/120
804/804  3s 3ms/step - accuracy: 0.7379 - loss: 0.5499
Epoch 75/120
804/804  2s 2ms/step - accuracy: 0.7391 - loss: 0.5706
Epoch 76/120
804/804  2s 2ms/step - accuracy: 0.7373 - loss: 0.5651
Epoch 77/120
804/804  2s 2ms/step - accuracy: 0.7346 - loss: 0.5533
Epoch 78/120
804/804  3s 2ms/step - accuracy: 0.7223 - loss: 0.5564
Epoch 79/120
804/804  3s 2ms/step - accuracy: 0.7403 - loss: 0.5674
Epoch 80/120
804/804  3s 2ms/step - accuracy: 0.7395 - loss: 0.5896
Epoch 81/120
804/804  2s 2ms/step - accuracy: 0.7415 - loss: 0.6274
Epoch 82/120
804/804  3s 2ms/step - accuracy: 0.7415 - loss: 0.5473
Epoch 83/120
804/804  3s 2ms/step - accuracy: 0.7372 - loss: 0.5463
Epoch 84/120
804/804  3s 3ms/step - accuracy: 0.7341 - loss: 0.5510
Epoch 85/120
804/804  2s 2ms/step - accuracy: 0.7407 - loss: 0.5469
Epoch 86/120
804/804  2s 2ms/step - accuracy: 0.7336 - loss: 0.5475
Epoch 87/120
804/804  2s 2ms/step - accuracy: 0.7362 - loss: 0.5577
Epoch 88/120
804/804  3s 2ms/step - accuracy: 0.7398 - loss: 0.5452
Epoch 89/120
804/804  3s 2ms/step - accuracy: 0.7321 - loss: 0.5563
Epoch 90/120
804/804  3s 3ms/step - accuracy: 0.7428 - loss: 0.5470
Epoch 91/120
804/804  2s 2ms/step - accuracy: 0.7367 - loss: 0.5508
Epoch 92/120
804/804  2s 2ms/step - accuracy: 0.7327 - loss: 0.5544
Epoch 93/120
804/804  3s 2ms/step - accuracy: 0.7417 - loss: 0.5464
Epoch 94/120
804/804  3s 2ms/step - accuracy: 0.7409 - loss: 0.5601
Epoch 95/120
804/804  3s 3ms/step - accuracy: 0.7393 - loss: 0.5627
Epoch 96/120
804/804  4s 2ms/step - accuracy: 0.7123 - loss: 0.5819
Epoch 97/120
804/804  2s 2ms/step - accuracy: 0.7369 - loss: 0.5962
Epoch 98/120
804/804  3s 2ms/step - accuracy: 0.7368 - loss: 0.6145
Epoch 99/120
804/804  3s 3ms/step - accuracy: 0.7319 - loss: 0.6087
Epoch 100/120
804/804  2s 2ms/step - accuracy: 0.7400 - loss: 0.6062
Epoch 101/120
804/804  2s 2ms/step - accuracy: 0.7204 - loss: 0.5971
Epoch 102/120
804/804  2s 2ms/step - accuracy: 0.7435 - loss: 0.5803
Epoch 103/120
804/804  2s 2ms/step - accuracy: 0.7412 - loss: 0.5654
Epoch 104/120
804/804  2s 2ms/step - accuracy: 0.7418 - loss: 0.5530
Epoch 105/120
804/804  2s 2ms/step - accuracy: 0.7360 - loss: 0.5625
Epoch 106/120
804/804  3s 3ms/step - accuracy: 0.7414 - loss: 0.5510
Epoch 107/120
804/804  2s 2ms/step - accuracy: 0.7422 - loss: 0.5495
Epoch 108/120
804/804  2s 2ms/step - accuracy: 0.7430 - loss: 0.5533
Epoch 109/120
804/804  2s 2ms/step - accuracy: 0.7419 - loss: 0.5441
Epoch 110/120
804/804  3s 2ms/step - accuracy: 0.7424 - loss: 0.5405
Epoch 111/120
804/804  2s 3ms/step - accuracy: 0.7439 - loss: 0.5380
Epoch 112/120
804/804  2s 2ms/step - accuracy: 0.7450 - loss: 0.5426
Epoch 113/120
804/804  2s 2ms/step - accuracy: 0.7419 - loss: 0.5452
Epoch 114/120
804/804  2s 2ms/step - accuracy: 0.7387 - loss: 0.5564
Epoch 115/120
804/804  3s 2ms/step - accuracy: 0.7411 - loss: 0.5437
Epoch 116/120
804/804  2s 2ms/step - accuracy: 0.7242 - loss: 0.5636
Epoch 117/120
804/804  2s 3ms/step - accuracy: 0.7368 - loss: 0.5569
Epoch 118/120
804/804  2s 2ms/step - accuracy: 0.7402 - loss: 0.5510
Epoch 119/120
804/804  2s 2ms/step - accuracy: 0.7414 - loss: 0.5481
Epoch 120/120
804/804  3s 2ms/step - accuracy: 0.7364 - loss: 0.5465

In [23]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - 2ms/step - accuracy: 0.7286 - loss: 0.6216
Loss: 0.62164705991745, Accuracy: 0.7286297082901001

In [24]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity_Optimization.h5")

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.